/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

ul {
    list-style: none;
}

#root,
#__next {
    isolation: isolate;
}

.container > div {
    border: 2px red solid;
}

.container {
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 20% 80% / 1fr 5fr
}

.header {
    padding-left: 50px;
    padding-right: 50px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr  3fr;
    max-width: 100%;
}

.search {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 60%  40%;
}

.leftSearch {
    grid-column: 1 / 2;
}

.rightSearch {
    grid-column: 2 / 3;
    display: flex;
    justify-content: end;
    gap: 20px;
}


.sideBar {
    grid-row: 1 / 4;
    padding: 10px;
}

.sideBar ul {
    padding: 0;
}

.sideBar li {
    display: inline-block;
    
}

.main {

}