/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

ul {
    list-style: none;
}

#root,
#__next {
    isolation: isolate;
}

.container > div {
    border: 2px red solid;
}

.container {
    max-width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 20% 80% / 1fr 5fr
}

.header {
    padding: 14px 50px 14px 50px ;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr  3fr;
    max-width: 100%;
    gap: 10px;
}

.search {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 60%  40%;
}

.leftSearch {
    grid-column: 1 / 2;
}

.leftSearch button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 7px;
}

.leftSearch input {
    width: 90%;
    border-radius: 30px;
}

.rightSearch {
    grid-column: 2 / 3;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.banner {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 60% 40%;
}

.leftBanner {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.leftbanner img {
    grid-area: 1 / 1 / 2 / 2;
}

.leftBanner div {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightBanner {
    display: flex;
    gap: 20px;
    align-items: center;
}

.rightBanner button {
    width: 120px;
    height: 40px;
    border-radius: 30px;

}

.sideBar {
    grid-row: 1 / 4;
    padding: 10px;
}

.sideBar ul {
    padding: 0;
}

.sideBar li {
    display: inline-block;
    
}

.main {
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: grid;
    gap: 15px;
    grid-template: 30px 1fr / repeat(2, 1fr);
}
.projects h2 {
    grid-area: 1 / 1 / 2 / 3;
}
.leftProjects {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
} 
.rightProjects {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cards {
    height: 162px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    padding: 20px 15px 10px 30px;
}
.cardIcons {
    display: flex;
    justify-content: end;
    gap: 15px;
    align-items: end;
    margin-top: auto;
    margin-bottom: 10px;
}

.news {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.newsmain {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
    background-color: blanchedalmond;
    margin-top: 10px;
    font-size: 0.85rem;
}
.newsmain div {
    position: relative;
}
.newsmain div::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 70%;
    margin-top: 4px;
    margin-left: 10px;
    background-color: black;

}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    gap: 10px;
}

.userSection {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 13px;
    background-color: blanchedalmond;
    border-radius: 7px;
}

.user p {
    font-size: 70%;
}

